@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@300;400;500;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
    padding: 15px 35px;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color: #181818;
    font-size: 45px;
}
nav>ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    list-style: none;
    text-decoration: none;
}
/* hedaer related style */
.header{
    background: #FFF8F3;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    margin-right: -30px;
    margin-bottom: -90px;
}
.banner-greetings{
    font-size: 45px;
} 
.banner-title{
    font-size: 85px;
    font-weight: 700px;
}
.section-title{
    text-align: center;
    font-size: 40px;
}
.section-description{
    text-align: center;
}
.about{
    margin: 120px 0;
    padding: 100px;
    background: #FFF8F3;
    border-radius: 10px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
       text-align: center;
}
#what-i-do{
    width: 1140px;
    border-radius: 10px;}
.skill-container{
    display: flex;
    gap: 24px;
    
}
.skill{
    background: #FFF8F3;
    padding: 30px;
}
.resume-container{
    display: flex;
    gap: 50px;
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.resume-section{
    max-width: 1140px;
}
.btn-download{
    text-align: center;
    width: auto;
    height: auto;
    
}
.btn-download button{
color:  #FFF;
text-align: center;
font-size: 20px;
    
}
/*footer contact part css */
.contact-container{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    background: #FFF8F3;
    justify-content: space-around;
}
.contact-column{
    margin-left: 100px;
    padding: 80px;
}
.contact-icon i{
    font-size: 20px;
    color: #FD6E0A;
    margin-right: 10px;
}
.contact-container{
    display: flex;
}
.contact-form input{
    width: 250px;
    height: 20px;
    border: none;
    margin-bottom: 8px;
    box-shadow:5px 5px 50px #3c37333e;
    padding: 10px;
    border-radius: 5px;
}
#contact-msg{
    width: 250px;
    height: 150px;
    border: none;
    margin-bottom: 8px;
    box-shadow:5px 10px 50px #3c37333e;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}
::placeholder {
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
    font-weight: 200;
    color: #FD6E0A;
}